# Lab 2(Loops)
##### 12 July 2021
##### loops while loop, for loop, range

### Loops

In [1]:
# Demonstration of while loop
i=1

while(i<10):
    print(i)
    i+=1
    
print("This is outside of while loop")

1
2
3
4
5
6
7
8
9
This is outside of while loop

In [2]:
#program to add n natural numbers
#sum=1+2
n=int(input("Enter no you need sum of: "))
sum=0
i=1
while(i<=n):
    sum=sum+i
    i+=1
print(sum)

Enter no you need sum of: 8
36

In [3]:
# Demonstration of for loop
#range(1parameter)
i=0;
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
#range (1st parameter, 2nd parameter)
for i in range (2,9):
    print(i)

2
3
4
5
6
7
8

In [5]:
# range (1st parameter, 2nd parameter, 3rd parameter)
i=0
for i in range (5,30,2):
    print(i)

5
7
9
11
13
15
17
19
21
23
25
27
29

### Print odd no between given two numbers higher limit included

In [6]:
i=0
low=int(input("Enter lower limit: "))
high=int(input("Enter upper limit: "))
for i in range (low,high+1,2):
    print(i)

Enter lower limit: 5
Enter upper limit: 11
5
7
9
11

### Demonstration of break and continue

In [7]:
for i in range(3,12):
    if(i==8):
        break
    if(i==6):
        continue
    print(i)

3
4
5
7

In [8]:
str=input("Enter string: ")
# Split using white spaces
print(str.split())

# Print using special symbols
print(str.split("."))

Enter string: hello. I.am.anju
['hello.', 'I.am.anju']
['hello', ' I', 'am', 'anju']

In [2]:
for j in range(1,1):
    print(j)
# print no output as 2nd 1 is not included in the limit

In [6]:
# print series 1 + 1/2 + 1/3 + 1/4 + 1/5 +.....
n=int(input("Enter no you want to enter: "))
print(1,end=" ")
for i in range(1,n+1):
    print(" + ",1,"/",i+1,end=" ")

Enter no you want to enter: 5
1  +  1 / 2  +  1 / 3  +  1 / 4  +  1 / 5  +  1 / 6